:root {
    --green: #005500;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    width: 100%;
    height: 100%;
    background: var(--bg);
    color: var(--fontColor);
    font-family: monospace;
}

h1 {
    margin: auto;
    width: 50%;
}

.inline-block {
    display: flex;
    column-gap: 5px;
    margin: auto;
    width: 50%;
}

.multiline {
    white-space: pre-wrap;
    margin: auto;
    width: 50%;
}

.coordinate-display {
    display: blocks;
    position: absolute;
}

#intro-graph {
    margin: auto;
    width: 50%;
}

#graph {
    margin: auto;
    width: 50%;
}
