:root {
    --green: #005500;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    width: 100%;
    height: 100%;
    background: var(--bg);
    color: var(--fontColor);
    font-family: monospace;
}

.inline-block{
    display: flex;
    column-gap: 5px;
}

.inline-block-sd {
    display: inline-block;
}
