:root {
    font-family: "Montserrat"
}

.topic-container {
    border-radius: 25px;
    background: #dfedf6;
    padding: 20px;
    width: 700px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.topics img {
    margin-left: 15px;
    margin-right: 15px;
    width: 180px;
    height: 90px;
}

.topics {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.section-title {
    color: #71abcb;
    padding: 0px;
    margin: 0px;
    height: 20px;
    width: 700px;
}