.overall-mean-line {
    stroke-width: 1px;
    stroke-dasharray: 5,2;
    stroke: red;
    opacity: 50%;
}

.overall-mean-text {
    font-size: 15px;
    fill: red;
    font-weight: bold;
}

.group-a-sample-mean-text, .group-b-sample-mean-text, .group-c-sample-mean-text, .sample-point-text {
    font-size: 15px;
    font-weight: bold;
}

.group-a-sample-mean-text {
    fill: #0c739c;
}

.group-b-sample-mean-text {
    fill: #458a04;
}

.group-c-sample-mean-text {
    fill: #9c0c65;
}

.sample-point-text {
    fill: #96c3d4;
}

.diff-line {
    stroke: #c1e9f7;
    stroke-width: 5px;
}

.dashed-line {
    stroke: #0c739c;
    stroke-dasharray: 3,2;
}

.bracket {
    font-family: Montserrat;
    font-weight: 100;
}

.tss-compare-sample-points {
    opacity: 70%;
    fill: #c1e9f7;
    mix-blend-mode: multiply;
}

.sse-lines {
    stroke: black;
    stroke-dasharray: 5,2;
    stroke-width: 1px;
}

.sse-addend, .sst-addend {
    fill: black;
    font-size: 20px;
}

.f-formula {
    fill: black;
    font-size: 40px;
}

#sample-graphs {
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 700px;
    margin: auto;
    background-color: #ebebeb;
    border-radius: 50px;
}

#tss-single-example {
    width: 50%;
    margin: auto;
}

#sample-graphs-2, #f-distributions {
    width: 800px;
    height: 300px;
    margin: auto;
}

#group-a-graph, #group-a-graph-sst, #group-b-graph, #group-b-graph-sst, #group-c-graph-sst {
    float: left;
    width: 200px;
}

#group-a-sample, #group-b-sample, #group-c-sample, #tss-example-point {
    opacity: 80%;
    mix-blend-mode: multiply;
}

#group-a-sample, #tss-example-point {
    fill: #c1e9f7;
}

#group-b-sample {
    fill: #beeb4d;
}

#group-c-sample {
    fill: #ffccf1;
}

#group-a-sample-mean, #group-b-sample-mean, #group-c-sample-mean, #tss-example-mean-line {
    stroke-width: 3px;
}

#group-a-sample-mean, #tss-example-mean-line {
    stroke: #0c739c;
}

#group-b-sample-mean {
    stroke: #458a04;
}

#group-c-sample-mean {
    stroke: #9c0c65;
}

#tss-single-example-2, 
#tss-single-example-3, 
#tss-single-example-4,
#tss-single-example-5  {
    float: left;
    margin-left: 100px;
}

#tss-single-example-5 {
    margin-left: 30px;
}

#tss-comparison-1, #sst-sse-large, #sst-sse-frac-large {
    float: left;
}

#sst-sse-frac-compare {
    width: 800px;
    margin: auto;
}

#sst-sse-frac-large, #sst-sse-frac-small {
    margin-left: 100px;
}

#tss-compare-1-mean, #tss-compare-2-mean {
    stroke: #0c739c;
    stroke-width: 3px;
}

#treatment-text,
#sst-sse-large-numerator,
#sst-sse-small-numerator {
    fill: #0c739c;
}

#error-text,
#sst-sse-large-denominator,
#sst-sse-small-denominator {
    fill: #96c3d4;
}

.frac-line {
    stroke: black;
    stroke-width: 1px;
}

#sst-sse-large-equals {
    fill: black;
    opacity: 30%;
}

#sst-sse-small-equals {
    fill: black;
    opacity: 100%;
}

#sst-sse-equals {
    margin: auto;
    font-size: 20px;
    height: 300px;
}

#msst-simplify-denominator {
    fill: steelblue;
}

#f-score-line {
    stroke: red;
    stroke-width: 4px;
    stroke-dasharray: 8,3;
}