body {
    font-family: "lato";
    font-weight: 200;
}

h1 {
    color: #95cbf5;
}

.example-distributions {
    display: inline-block;
}

p {
    color: #95cbf5;
}

#beta-graph {
    float: left;
    cursor: pointer;
}

#uniform-graph {
    float: right;
    cursor: pointer;
}

#bernoulli-graph {
    float: right;
    cursor: pointer;
}

#sampled-graph {
    margin: auto;
    width: 50%;
}

#random-sample {
    display: flex;
    justify-content: center;
}

#random-sample button {
    padding: 0.5em 0.5em;
    background-color: steelblue;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
    font-weight: inherit;
}

#random-sample button:active {
    background-color: #b9d4eb
}
