body {
    font-family: "Space Grotesk";
}

h1 {
    padding-left: 10%;
    padding-top: 5%;
}

p {
    padding-top: 5%;
    padding-left: 10%;
}

.formula {
    margin: auto;
    width: 50%;
    font-size: 15px;
}

.expression {
    display: inline-block;
    padding-left: 0px;
}

.center {
    margin: auto;
    width: 50%;
}

.graph {
    display: inline-block;
    margin: auto;
}

#section-0 {
    display: block;
}

#section-1 {
    display: none;
}

#samples-pg {
    position: relative;
}

#sample-1-slider {
    position: relative;
    top: 75px;
    left: 75px;
    width: 500px;
    appearance: none;
    background: none;
    cursor: pointer;
}

#sample-2-slider {
    position: relative;
    top: 153px;
    left: 75px;
    width: 500px;
    appearance: none;
    background: none;
    cursor: pointer;
}
#sample-2-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    border: none;
    cursor: pointer;
    background: #e6de00;
}
#sample-2-slider::-ms-thumb {
    background: green;
}
#sample-2-slider::-moz-range-thumb {
    background: green;
}

#pooled-sd-pg {
    margin: auto;
    width: 50%;
}

#variance-graphs {
    display: inline-block;
    margin: auto;
    width: 100%;
}

#sample-1 {
    font-size: 12px;
}

#sample-2 {
    font-size: 12px;
}

#sample-values-1 {
    fill: #9fe2f5;
    fill-opacity: 80%;
    mix-blend-mode: multiply;
}

#sample-values-2 {
    fill: #76cc2f;
    fill-opacity: 80%;
    mix-blend-mode: multiply;
}

#mean-1 {
    stroke: #6ac4de;
    stroke-width: 2px;
}

#mean-1-text {
    font-family: Arial;
    text-anchor: middle;
    fill: #6ac4de;
    font-size: 13px;
}

#mean-2 {
    stroke: #76cc2f;
    stroke-width: 2px;
}

#mean-2-text {
    font-family: Arial;
    text-anchor: middle;
    fill: #76cc2f;
    font-size: 13px;
}

#dim-mean-1 {
    stroke: #6ac4de;
    stroke-width: 2px;
}

#dim-mean-2 {
    stroke: #76cc2f;
    stroke-width: 2px;
}

#dim {
    stroke: #ffb3d4;
    stroke-width: 2px;
    stroke-dasharray: 3,3;
}

#dim-text {
    font-family: Arial;
    font-size: 15px;
    text-anchor: middle;
    fill: #ffb3d4;
}

#sample-1-variance {
    padding-left: 10%;
}

#sample-2-variance {
    padding-left: 10%;
}

#sample-1-variance-mean-line {
    stroke: #6ac4de;
    stroke-dasharray: 10,5;
}

#sample-2-variance-mean-line {
    stroke: #76cc2f;
    stroke-dasharray: 10,5;
}

#sample-1-variance-mean-text {
    font-family: Arial;
    text-anchor: middle;
    fill: #6ac4de;
    font-size: 13px;
}

#sample-2-variance-mean-text {
    font-family: Arial;
    text-anchor: middle;
    fill: #76cc2f;
    font-size: 13px;
}

#sample-1-sd-text {
    font-family: Arial;
    text-anchor: middle;
    fill: #6ac4de;
    font-size: 20px;
}

#sample-2-sd-text {
    font-family: Arial;
    text-anchor: middle;
    fill: #76cc2f;
    font-size: 20px;
}

#sample-1-sd-line {
    stroke: #6ac4de;
}

#sample-2-sd-line {
    stroke: #76cc2f;
}

#sample-1-var-points {
    fill: #9fe2f5;
}

#sample-2-var-points {
    fill: #76cc2f;
}

#sample-1-var-diffs {
    stroke: #6ac4de;
}

#sample-2-var-diffs {
    stroke: #76cc2f;
}

#null-distribution {
    margin: auto;
    width: 50%;
}

#mean-diff-text-null-distr {
    text-anchor: middle;
    fill: #6ac4de;
}

#mean-diff-tick-null-distr {
    stroke: #6ac4de;
    stroke-width: 5px;
}

#pValue {
    fill: #ffb3d4;
}

#p-value-area {
    fill: #ffb3d4;
    opacity: 60%;
}

#tab-sections {
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
}

#page1 {
    display: block;
}

#page2 {
    display: none;
}

#page3 {
    display: none;
}

.x-axis-label {
    text-anchor: left;
    opacity: 40%;
}

.tab-sections {
    overflow: hidden;
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
}

.tab-sections button{
    float: left;
    background-color: white;
    border: none;
    outline: none;
    padding: 10px 16px;
    cursor: pointer;
    margin-left: 5px;
    /* border-radius: 10px; */
}

.tab-sections button:hover {
    background-color: #f5f5f5;
    border-bottom: solid #ebebeb;
}

.tab-sections button.active {
    background-color: white;
    border-bottom: solid 4px #e6e6e6;
}

.page-buttons{
    display:flex;
    justify-content:center;
    gap:2rem;
    padding: 80px;
    margin-bottom:100px;
  }

.page-buttons button{
border:none;
padding:0.95rem 1.2rem;
background-color: #d4eeff;
color:white;
border-radius:100%;
cursor:pointer
}

.arrow {
border: solid white;
border-width: 0 3px 3px 0;
display: inline-block;
padding: 3px;
}

.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}

.left {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}