h1 {
    padding-left: 10%;
    padding-top: 5%;
}

p {
    padding-top: 5%;
    padding-left: 10%;
}

.formula {
    margin: auto;
    width: 50%;
    font-size: 15px;
}

.expression {
    display: inline-block;
    padding-left: 0px;
}

.center {
    margin: auto;
    width: 50%;
}

.graph {
    display: inline-block;
    margin: auto;
}

#samples-pg {
    position: relative;
}

#sample-1-slider {
    position: relative;
    top: 75px;
    left: 75px;
    width: 500px;
    appearance: none;
    background: none;
    cursor: pointer;
}

#sample-2-slider {
    position: relative;
    top: 153px;
    left: 75px;
    width: 500px;
    appearance: none;
    background: none;
    cursor: pointer;
}
#sample-2-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    border: none;
    cursor: pointer;
    background: #e6de00;
}
#sample-2-slider::-ms-thumb {
    background: green;
}
#sample-2-slider::-moz-range-thumb {
    background: green;
}

#pooled-sd-pg {
    margin: auto;
    width: 50%;
}

#variance-graphs {
    width: 1000px;
}

#sample-1 {
    font-size: 12px;
}

#sample-2 {
    font-size: 12px;
}

#sample-values-1 {
    fill: #9fe2f5;
    fill-opacity: 80%;
    mix-blend-mode: multiply;
}

#sample-values-2 {
    fill: #76cc2f;
    fill-opacity: 80%;
    mix-blend-mode: multiply;
}

#mean-1 {
    stroke: #6ac4de;
    stroke-width: 2px;
}

#mean-1-text {
    text-anchor: middle;
    fill: #6ac4de;
    font-size: 13px;
}

#mean-2 {
    stroke: #76cc2f;
    stroke-width: 2px;
}

#mean-2-text {
    text-anchor: middle;
    fill: #76cc2f;
    font-size: 13px;
}

#dim-mean-1 {
    stroke: #6ac4de;
    stroke-width: 2px;
}

#dim-mean-2 {
    stroke: #76cc2f;
    stroke-width: 2px;
}

#dim {
    stroke: #ffb3d4;
    stroke-width: 2px;
    stroke-dasharray: 3,3;
}

#dim-text {
    font-size: 15px;
    text-anchor: middle;
    fill: #ffb3d4;
}

#sample-1-variance-visual {
    padding-left: 10%;
    float: left;
}

#sample-1-variance-mean-line {
    stroke: #6ac4de;
    stroke-dasharray: 10,5;
}

#sample-2-variance-mean-line {
    stroke: #76cc2f;
    stroke-dasharray: 10,5;
}

#sample-1-variance-mean-text {
    text-anchor: middle;
    fill: #6ac4de;
    font-size: 13px;
}

#sample-2-variance-mean-text {
    text-anchor: middle;
    fill: #76cc2f;
    font-size: 13px;
}

#sample-1-sd-text {
    text-anchor: middle;
    fill: #6ac4de;
    font-size: 20px;
}

#sample-2-sd-text {
    text-anchor: middle;
    fill: #76cc2f;
    font-size: 20px;
}

#sample-1-sd-line {
    stroke: #6ac4de;
}

#sample-2-sd-line {
    stroke: #76cc2f;
}

#sample-1-var-points {
    fill: #9fe2f5;
}

#sample-2-var-points {
    fill: #76cc2f;
}

#sample-1-var-diffs {
    stroke: #6ac4de;
}

#sample-2-var-diffs {
    stroke: #76cc2f;
}

#null-distribution {
    margin: auto;
    width: 50%;
}

#mean-diff-text-null-distr {
    text-anchor: middle;
    fill: #6ac4de;
}

#mean-diff-tick-null-distr {
    stroke: #6ac4de;
    stroke-width: 5px;
}

#pValue {
    fill: #ffb3d4;
}

#p-value-area {
    fill: #ffb3d4;
    opacity: 60%;
}

.x-axis-label {
    text-anchor: left;
    opacity: 40%;
}