span {
    font-size: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 500px;
    height: 200px;
}

input[type = number] {
    width: 50px;
    height: 60px;
    font-size: 20px;
    font-family: inherit;
    text-align: left;
    border: 2px solid #a6d67c;
    border-radius: 7px;
    background-color: #ecf5e4;
    color: black;
}

input[type = number]:focus {
    outline: 0;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

.table-cell {
    width: 50px;
    height: 50px;
    padding-top: 20px;
    font-size: 20px;
    margin: auto;
}

#mean-input3, 
#mean-diff-input3, 
#mean-diff-input5,
#chisq-input3,
#chisq-input6,
#chisq-input9,
#chisq-input7,
#chisq-input8 {
    border: 1px solid #ededed;
    background-color: #f0f0f0;
}

#mean-input3::-webkit-inner-spin-button, 
#mean-diff-input3::-webkit-inner-spin-button, 
#mean-diff-input5::-webkit-inner-spin-button,
#chisq-input3::-webkit-inner-spin-button,
#chisq-input6::-webkit-inner-spin-button,
#chisq-input9::-webkit-inner-spin-button,
#chisq-input7::-webkit-inner-spin-button,
#chisq-input8::-webkit-inner-spin-button {
    opacity: 0
}

.equation-wrapper {
    padding-top: 40px;
    margin-left: 100px;
    width: 1000px;
    font-size: 15px;
    overflow: hidden;
}

.minus {
    float: left;
    font-size: 40px;
    margin-top: 40px;
}

.fraction {
    float: left;
    padding-right: 20px;
}

.denominator {
    margin-top: 0;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    width: auto;
}

.dof {
    float: right;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 30px;
    border: solid;
    border-color: black;
}

#stat-type {
    float: left;
    margin-top: 50px;
    margin-right: 30px;
}

#mean-equal {
    float: left;
    margin-top: 50px;
}