h1 {
    padding-left: 10%;
    padding-top: 5%;
}

p {
    padding-left: 10%;
}

.formula {
    margin: auto;
    width: 50%;
    font-size: 15px;
}

.expression {
    display: inline-block;
    padding-left: 0px;
}

.assumptions {
    background-color: #b0d7e8;
    border-radius: 50px;
    width: 700px;
    margin-left: 180px;
    margin-bottom: 20px;
    align-items: left;
    justify-content: left;
}

.assumptions p {
    padding: 10px;
    width: 500px;
    font-weight: bold;
    color: #5b94b3;
    margin-left: 10px;
}

.frac-line {
    stroke: black
}

.numerator, .denominator {
    fill: black;
}

#normal-distribution, #normal-distribution-dynamic {
    margin: auto;
    width: 50%;
}

#normal-distr-p-text, #normal-distr-p-area, #normal-distribution-p-text, #normal-distribution-p-area {
    fill: #88bed1;
    opacity: 70%;
}

#normal-distr-p-text, #normal-distr-z-text  {
    font-weight: bold;
}

#normal-distr-p-line {
    stroke: #6ac4de;
    stroke-width: 4px;
    stroke-dasharray: 9,4;
}

#normal-distr-z-text {
    fill: #6bbfe3;
}

#tail-switch {
    margin: auto;
    float: right;
}

#tail-switch button {
    margin-left: 0px;
    border: none;
    font-family: inherit;
    font-weight: bold;
    background-color: #afdbed;
    color: #e8f5fa;
    width: 100px;
    height: 30px;
}

#one-tail-button, #two-tail-button {
    cursor: pointer;
    position: relative;
}

#one-tail-button.active {
    background-color: #8fc6dd;
    color: white;
}

#two-tail-button.active {
    background-color: #8fc6dd;
    color: white;
}